
@font-face {
    font-family: 'Rigot';
    src: url('/desktop/Rigot-bold');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    background: rgb(0, 0, 0);
}
.all{
    padding-top: 100px;
}
header{
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center; 
    width: 60%;
    margin-top: 10px;
}
.logo{
    font-family:Rigot;
    font-size: 60px;
}
.navbar li{
    list-style: none;
    
}
.navbar li a{
    text-decoration: none;
    color: white;
}


.menu-button{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.menu-button .bar{
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}

/* HOME PAGE */



.container{
    display: flex;
    flex-direction: row;
}
.pic1{
    width: 650px;
    opacity: 85%;
}
h1{
    font-family: Rigot;
    font-size: 160px;
    width: 100%;
    color: #FF7F7F;
    margin-left: 30px;
}
.paragraph{
    font-size: 20px;
    width: 80%;
    color: white;
    margin-left: 30px;
    margin-top: -20px;
    margin-bottom: 40px;
}
.btn{
    width: 180px;
    height: 60px;
    background-color: #FF7F7F;
    border-radius: 40px;
    border-style: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    cursor: pointer;
}
.description2{
    display: grid;
    grid: auto;
    align-items: center;
}
.container2{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}
.pic2{
    width: 700px;
    opacity: 85%;
}
h2{
    font-family: Rigot;
    font-size: 120px;
    width: 100%;
    color: #FF7F7F;
    margin-left: 0px;
    text-align: center;
}
.description2 .paragraph {
    font-size: 25px;
    width: 90%;
    color: white;
    margin-left: 30px;
    margin-top: -20px;
    margin-bottom: 40px;
    text-align: center;
}
.description2 .btn{
    margin-left: 240px;
}
.container3{
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}
.container3 img{
    width: 410px;
    padding: 0px;
    margin: 0px;
}
.menu{
    display: flex;
    width: 100%;
}
.container3 h2{
    margin-right: 650px;
    margin-top: 150px;
    margin-bottom: 30px;
}
.container3 .btn{
    margin-top: 70px;
}
.container4 h2{
    width: 70%;
    margin-left: 380px;
    margin-top: 150px;
}
.infos{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.infos img{
    width: 410px;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}
.infos .image2{
    margin-top: 450px;
}
.main-infos{
    display: grid;
    grid-template-columns: auto;
    background-color:#1C1A1A;
    height: 90%;
    width: 100%;
    margin-top: 200px;
    align-items: center;
}
.info-btn{
    display: grid;
    grid-template-rows: auto;
}
.info-btn .btn{
    margin-top: 230px;
    margin-left: 128px;
}
.main-infos i{
    margin-left: 50px;
    color: white;
    font-size: 30px;
}
.local, .phone, .mail{
    display: flex;
}
.local p, .phone p, .mail p{
    color: white;
    margin-left: 30px;
}


/* ABOUT US FOOTER */
.footer-about{
   display: grid;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
    margin-top: 180px;
}
.footer-about .social-media{
    display: flex;
    width: 200px;
    justify-content: space-between; 
    font-size: 30px ;
}
.footer-about .footer-logo{
    color: white;
    font-family: Rigot;
    font-size: 67px;
    color: #FF7F7F;
}
.footer-about .footer-logo i{
    color: white;
    font-size: 12px;
    margin-bottom: 90px;
}
.footer-about .social-media i{
    font-size: 30px;
    color: white;
}
.footer-about .copyright{
    color: white;
    font-size: 16px;
    margin-left: 0px;
}




/* MENU PAGE */

.menu-page h2{
    font-size: 60px;
}
.menu{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.choice{
    display: grid;
    grid-template-rows: auto;

}
.all-choice{
    background-color: white;
    width: 80%;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: none;
    border-radius: 0px 50px 50px 0px;
    text-align: center;
    font-size: 22px;
    padding-top: 15px;
    padding-right: 20px;
    font-weight: bold;
    cursor: pointer;
}
.plats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.plats .sushi{
    display: grid;
}
.plats .soup{
    display: grid;
}
.plats .salad{
    display: grid;
}
.plats p{
    font-size: 22px;
    font-weight: bold;
    color: white;
}
.titre{
    margin-left: 30%;
}
.plat-sushi{
    margin-top: 40px;
}
.plat1{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 170px;
    border-radius: 16px 16px 0px 0px;
    font-weight: bold;
    font-size: 18px;
    padding-top: 5%;
}
.plat1 p{
    width: 170px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: black;
}
.order{
    background-color:#FF7F7F;
    height: 25px;
    padding-left: 23%;
    margin-bottom: 40px;
    border-radius:0px 0px 16px 16px;
    cursor: pointer;
}
.commands{
    background-color: white;
    width: 90%;
    height: 300px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: black;  
    overflow-y: scroll; 
}
.command{
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
}
.q{
    display: flex;
}
/* .q .quan{
    margin: 0px 20px;
    outline: none;
} */
.quantity-num{
    /* background-color: red; */
    font-size: 16px;
    font-weight: bold;
    width: 60%;
    margin-left: 10px;
    padding: 5px;
    border-style: none  ;
    outline: none;
}
.quantity{
    font-size: 14px;
    margin-top: 5px;
}
.commandline{
    background-color: black;
    margin-top: 8px;
}

.total{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 100px;
    font-weight: bold;
    font-size: 25px;
    color: black;
    /* position: fixed; */
}
.order-rec{
    background-color:#FF7F7F;
    height: 40px;
    width: 90%;
    padding-left: 26%;
    font-weight: bold;
    padding-top: 3%;
    margin-bottom: 10px;
    margin-right: 20px;
    cursor: pointer;
    /* border-radius:16px; */
}
.bi-trash3-fill{
    cursor: pointer;
}
#calc{
    padding-left: 47px;
    width: 90%;
    font-size: 15px;
    text-align: left;
}
/* .receipt{
    position: fixed;
    right: -50px;
    top: 0;
    
} */
.alert{
    /* display: flex; */
    display: none;
    flex-direction: column;
    width: 400px;
    height: 200px;
    background-color:#fda6a6;
    position: fixed;
    margin-left: 430px;
    align-items: center;
    border-radius: 15px;
    gap: 26px;
}
.thanks{
    font-size: 28px;
    background-color: #FF7F7F;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    opacity: 80%;
}
.totalmsg{
    font-size: 18px;
}
.alert .btnalert{
    background-color: white;
   cursor: pointer;
    border: none;
    border-radius: 15px;
    /* padding: 10px; */
    height: 30px;
    width: 80px;
    margin: 0px 20px;
}
.alert .btnalert:hover{
    background-color: #444343;
    transition: 0.3s;
    color: rgb(255, 255, 255);
}
#validate{
    display: none;
}
#validate .thanks{
    background-color: #fda6a6;
}
.noneclick{
    width: 100%;
    height: 100%;
    background-color: red;
}




/* ABOUT US PAGE  */


.all h2{
    font-size: 60px;
}
.story{
    display: flex;
}
.story .our-story{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 7%;
}
.story hr{
    height: 3px;
    background-color: white;
    border-style: none;
    width: 50%;
    margin-left: 7%;
}
.story p{
    color: white;
    font-size: 22px;
    width: 70%;
    margin-left: 14%;
    margin-top: 5%;
}
.story img{
    width: 100%;
}


.chief{
    display: flex;
}
.chief .our-chief{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 4%;
    text-align: right;
}
.chief hr{
    height: 3px;
    background-color: white;
    border-style: none;
    width: 100%;
}
.chief p{
    color: white;
    font-size: 22px;
    width: 90%;
    margin-left: -15%;
    margin-top: 5%;
}
.chief img{
    width: 75%;
    margin-top: 80px;
    margin-left: 70px;
}



/* CONTACT US PAGE */
.contact{
    background-color: #1C1A1A;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    gap: 28px;
    padding-bottom: 45px;
    padding-top: 40px;
    width: 50%;
    margin: auto;
}
.contact p{
    font-size: 44px;
    font-weight: bolder;
    color: white;
    opacity: 50%;
}
.contact input{
    border-color: rgb(255, 255, 255);
    border-style: solid;
    outline: none;
    border-radius: 18px;
    background-color: transparent;
    height: 45px;
    width: 80%;
    border-width: 2px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 14px; ;
    color: white;
}
.contact textarea{
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
    outline: none;
    border-radius: 18px;
    background-color: transparent;
    width: 80%;
    padding-left: 15px;
    padding-top: 10px;
    font-weight: bold;
    color: white;
}
.contact input::placeholder{
    font-weight: bold;
    /* padding-left: 15px; */
}
.contact textarea::placeholder{
    font-weight: bold;
}
.bi-check-lg{
    font-size: 90px;
    color: white;
}
.contact .sent{
    opacity: 100%;
    text-align: center;
}
#return{
    font-size: 17px;
    cursor: pointer;
}
#submitted{
    display: grid;
    display: none;
}
#submitbtn{
    cursor: pointer;
}


/* MOBILE NAVBAR  */
.mobile-menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 100px;
    margin-top: 80px;
    height: 100%;
    position: fixed;
    z-index: 9999;

}
.mob-options{
    margin-top: -85px;
    text-align: center;
}
.mobile-menu ul li{
   margin-bottom: -44px;
}
.mobile-menu a{
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.bi-x{
    font-size: 75px;
    margin-left: 80%;
}









/* home mobile */

@media (max-width: 390px) {
    /* home mobile */
    .container{
        display: flex;
        flex-direction: row;
    }
    .description{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pic1{
        display: none;
        /* width: 350px;
        opacity: 85%; */
    }
    h1{
        font-family: Rigot;
        font-size: 60px;
        width: 100%;
        color: #FF7F7F;
        margin-left: 0px;
        text-align: center;
    }
    .paragraph{
        font-size: 20px;
        color: white;
        margin-left: 0px;
        text-align: center;
    }
    .btn{
       
        margin-left: 0px;
        
    }
    .description2{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-items: center;
    }
    .container2{
        display: flex;
        flex-direction: row;
        /* margin-top: 150px; */
    }
    .pic2{
        display: none;
        /* width: 700px;
        opacity: 85%; */
    }
    h2{
        font-family: Rigot;
        /* font-size: 30px; */
        width: 100%;
        color: #FF7F7F;
        /* text-align: left; */
        /* margin-left: 30px; */
        /* margin-left: 0px; */
        /* text-align: center; */
    }
    .description2 .paragraph {
        font-size: 20px;
        /* width: 90%; */
        color: white;
        margin-left: 0px;
        /* margin-top: -20px; */
        margin-bottom: 40px;
        text-align: center;
    }
    .description2 .btn{
        margin-left: 0px;
    }
    .container3{
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
    }
    .container3 img{
        width: 280px;
        margin-left: 78px;
    }
    .row1 .img{
        display: none;
    }
    .row2{
        display: none;
    }
    .menu {
        width: 300px;
        display: block;
    }
    .container3 h2{
        margin-right:0px;
        margin-top: 150px;
        margin-bottom: 30px;
        text-align: center;
    }
    .container3 .btn{
        margin-top: 70px;
        margin-left: 0px;
    }
    .container4{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container4 h2{
        width: 100%;
        margin-left: 0px;
        margin-top: 100px;
    }
    .container4 .image2{
        display: none;
    }
    .container4 .image1{
        display: none;
    }
    .infos{
        display: grid;
        grid-template-columns:1fr;
        width: 80%;
    }
    .infos img{
        display: none;
    }
    
    .main-infos{
        height: 100%;
        margin-top: 100px;
        align-items: center;
    }
    .info-btn{
        display: grid;
        grid-template-rows: auto;
        justify-items: center;
    }
    .info-btn .btn{
        margin-top: 160px;
        margin-left: 0px;
    }
    .main-infos i{
        margin-left: 50px;
        color: white;
        font-size: 30px;
    }
    .local, .phone, .mail{
        display: flex;
    }
    .local p, .phone p, .mail p{
        color: white;
        margin-left: 30px;
    }
    .nav{
        display: none;
    }
    .logo{
        font-size: 72px;
    }
    .menu-button{
        display: flex;
    }
   

}
/* ABOUT PAGE MOBILE */

@media (max-width: 390px){
    /* .all .about-us{
        margin-left: 10%;
    } */
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .story{
        display: flex;
        flex-direction: column;
    }
    
    .story .our-story{
        margin-left: 0px;
        text-align: center;
    }
    .story p{
        margin-left: 0px;
    }
    hr{
        display: none;
    }
    
    .story .par{
        width: 80%;
        margin-bottom: 70px;
        text-align: center;
        
    }
    .ph1{
        margin-left: 0px;
    }
    .chief{
        margin-top: 100px;
        display: flex;
        flex-direction: column-reverse;
    }
    .chief .our-chief{
        /* width: 100%; */
        text-align: center;
    }
    .chief .par{
        /* width: 100%; */
        text-align: center;
        margin-left: 20px;
    }
    .chief .ph2{
        width: 100%;
        margin-left: 0px;
        
    }
    .footer-about .footer-logo{
        /* margin-left: 40%; */
        font-size: 44px;
        margin-top: 80px;
        text-align: center;
    }
    .footer-about .social-media i{
        font-size: 20px;
    }
    .copyright{
        margin-left: 0px;
    }
}



/* MENU MOBILE */
@media (max-width: 390px){
    .receipt{
        width: 80%;
        align-items: center;
        /* margin-left: 50px; */
    }
    .alert{
        margin-left: 0px;
    }
    #menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .choice{
        display: flex;
        flex-direction: row;
        /* width: 100%; */
        margin-left: 15px;
        flex-wrap: wrap;
    }
    .all-choice{
        border-radius: 10px;
        margin-left: 25px;
        padding: 20px;
        
    }
    .plats{
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
    }



    .contact p{
        text-align: center;
    }
    .contact .btn{
        margin-left: 0px;
    }
    #submitted{
        width: 100%;
    }
    .commands{
        width: 100%;
    }
    .total{
        width: 100%;
    }
    #calc{
        width: 100%;
        text-align: center;
        padding-left: 0px;
    }
    .order-rec{
        width: 100%;
        padding-left: 0px;
        text-align: center;
    }
    
}




